In [1]:
# Dependencies
! pip install census
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from census import Census
#import gmaps

# Census API Keys
from config import (api_key)
from config import gkey
c = Census(api_key, year=2018)

Requirement already satisfied: census in /opt/anaconda3/lib/python3.7/site-packages (0.8.14)
Requirement already satisfied: future in /opt/anaconda3/lib/python3.7/site-packages (from census) (0.18.2)
Requirement already satisfied: requests>=1.1.0 in /opt/anaconda3/lib/python3.7/site-packages (from census) (2.22.0)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /opt/anaconda3/lib/python3.7/site-packages (from requests>=1.1.0->census) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /opt/anaconda3/lib/python3.7/site-packages (from requests>=1.1.0->census) (1.24.2)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.7/site-packages (from requests>=1.1.0->census) (2019.9.11)
Requirement already satisfied: idna<2.9,>=2.5 in /opt/anaconda3/lib/python3.7/site-packages (from requests>=1.1.0->census) (2.8)

In [6]:
# Run Census Search to retrieve data on all states
# Note the addition of "B23025_005E" for unemployment count

census_data = c.acs5.get(("NAME", "B19013_001E", "B01003_001E", "B01002_001E",
                          "B19301_001E",
                          "B17001_002E", "B23025_005E"), {'for': 'zip code tabulation area:*'})


# Convert to DataFrame

census_df = pd.DataFrame(census_data)

# Column Reordering
census_df = census_df.rename(columns={"B01003_001E": "Population",
                                      "B01002_001E": "Median Age",
                                      "B19013_001E": "Household Income",
                                      "B19301_001E": "Per Capita Income",
                                      "B17001_002E": "Poverty Count",
                                      "B23025_005E": "Unemployment Count",
                                      "NAME": "Name", "zip code tabulation area": "Zipcode"})

# Add in Poverty Rate (Poverty Count / Population)
census_df["Poverty Rate"] = census_df["Poverty Count"]/census_df["Population"]*100

# Add in Employment Rate (Employment Count / Population)
census_df["Unemployment Rate"] = census_df["Unemployment Count"]/census_df["Population"]*100


# Final DataFrame
census_df = census_df.loc[(census_df['Zipcode'] == "20007")|(census_df['Zipcode'] == "20016")|
                         (census_df['Zipcode'] == "20008")| (census_df['Zipcode'] == "20009")| (census_df['Zipcode'] == "20010")
                         |(census_df['Zipcode'] == "20011")| (census_df['Zipcode'] == "20012")| (census_df['Zipcode'] == "20013")
                         |(census_df['Zipcode'] == "20390")| (census_df['Zipcode'] == "20015")| (census_df['Zipcode'] == "20373")
                         | (census_df['Zipcode'] == "20319")| (census_df['Zipcode'] == "20317")| (census_df['Zipcode'] == "20064")
                         | (census_df['Zipcode'] == "20057")| (census_df['Zipcode'] == "20052")| (census_df['Zipcode'] == "20037")
                         | (census_df['Zipcode'] == "20036")| (census_df['Zipcode'] == "20032")| (census_df['Zipcode'] == "20024")
                         | (census_df['Zipcode'] == "20020")| (census_df['Zipcode'] == "20019")| (census_df['Zipcode'] == "20018")
                         | (census_df['Zipcode'] == "20017")| (census_df['Zipcode'] == "20001")| (census_df['Zipcode'] == "20002")
                         | (census_df['Zipcode'] == "20003")| (census_df['Zipcode'] == "20004")| (census_df['Zipcode'] == "20005")
                         | (census_df['Zipcode'] == "20006")]
census_df
census_df['Coords']= ''
census_df

,Name,Household Income,Population,Median Age,Per Capita Income,Poverty Count,Unemployment Count,Zipcode,Poverty Rate,Unemployment Rate,Coords
6216,ZCTA5 20001,109318.0,46716.0,31.4,60678.0,6468.0,1597.0,20001,13.845363,3.418529,
6217,ZCTA5 20002,84892.0,64895.0,33.2,52141.0,9269.0,2351.0,20002,14.283073,3.622775,
6218,ZCTA5 20003,126323.0,31213.0,33.9,66331.0,2888.0,975.0,20003,9.252555,3.123698,
6219,ZCTA5 20004,147522.0,1975.0,40.7,109468.0,108.0,69.0,20004,5.468354,3.493671,
6220,ZCTA5 20005,94611.0,13222.0,33.7,78166.0,1333.0,275.0,20005,10.081682,2.079867,
6221,ZCTA5 20006,46319.0,2756.0,19.7,15576.0,275.0,109.0,20006,9.978229,3.955007,
6222,ZCTA5 20007,130920.0,27562.0,34.6,88413.0,3134.0,746.0,20007,11.370728,2.706625,
6223,ZCTA5 20008,117195.0,29457.0,38.3,99315.0,1804.0,625.0,20008,6.124181,2.121737,
6224,ZCTA5 20009,107128.0,52117.0,33.6,77556.0,6004.0,1593.0,20009,11.520233,3.056584,
6225,ZCTA5 20010,88463.0,34713.0,32.3,49681.0,4613.0,1375.0,20010,13.288970,3.961052,
6226,ZCTA5 20011,71569.0,68695.0,36.8,40318.0,8787.0,2713.0,20011,12.791324,3.949341,
6227,ZCTA5 20012,91667.0,16351.0,40.9,50954.0,1267.0,627.0,20012,7.748762,3.834628,
6228,ZCTA5 20015,158443.0,16395.0,43.8,86662.0,694.0,386.0,20015,4.232998,2.354376,
6229,ZCTA5 20016,150997.0,34783.0,37.7,91274.0,2897.0,813.0,20016,8.328781,2.337349,
6230,ZCTA5 20017,77560.0,20450.0,37.0,41775.0,2810.0,878.0,20017,13.740831,4.293399,
6231,ZCTA5 20018,64530.0,19943.0,39.7,39456.0,3009.0,971.0,20018,15.088001,4.868876,
6232,ZCTA5 20019,36398.0,62625.0,34.1,23072.0,17222.0,4875.0,20019,27.500200,7.784431,
6233,ZCTA5 20020,36075.0,56131.0,33.4,24722.0,18941.0,3466.0,20020,33.744277,6.174841,
6234,ZCTA5 20024,83145.0,13354.0,36.2,60904.0,2216.0,618.0,20024,16.594279,4.627827,
6235,ZCTA5 20032,37711.0,42930.0,29.9,21379.0,12441.0,3729.0,20032,28.979734,8.686233,
6236,ZCTA5 20036,88553.0,5798.0,33.4,78770.0,826.0,87.0,20036,14.246292,1.500517,
6237,ZCTA5 20037,89475.0,14559.0,27.0,59917.0,2247.0,319.0,20037,15.433752,2.191085,
6239,ZCTA5 20052,-666666666.0,751.0,20.2,4226.0,0.0,24.0,20052,0.000000,3.195739,
6241,ZCTA5 20057,-666666666.0,3841.0,19.8,3915.0,11.0,79.0,20057,0.286384,2.056756,
6242,ZCTA5 20064,-666666666.0,2207.0,19.9,4099.0,113.0,73.0,20064,5.120072,3.307657,
6298,ZCTA5 20317,28077.0,406.0,86.0,28115.0,120.0,0.0,20317,29.556650,0.000000,
6299,ZCTA5 20319,-666666666.0,42.0,21.7,19436.0,0.0,0.0,20319,0.000000,0.000000,
6300,ZCTA5 20373,-666666666.0,144.0,21.9,23941.0,0.0,0.0,20373,0.000000,0.000000,
6301,ZCTA5 20390,-666666666.0,359.0,21.2,21819.0,0.0,0.0,20390,0.000000,0.000000,

In [11]:
# Finding lat/lang so we can get a nearby address.

geocode_url = 'https://maps.googleapis.com/maps/api/geocode/json'


for index,row in census_df.iterrows():
    location = row['Zipcode']
    params = {
    'address': location,
    'key': gkey
    }
    response = requests.get(geocode_url, params=params)
    response = response.json()

    lat = response["results"][0]["geometry"]["location"]["lat"]
    lng = response["results"][0]["geometry"]["location"]["lng"]
    
    origin_latlng = f"{lat},{lng}"
    census_df.loc[index, 'Coords'] = origin_latlng

census_df.head()

,Name,Household Income,Population,Median Age,Per Capita Income,Poverty Count,Unemployment Count,Zipcode,Poverty Rate,Unemployment Rate,Coords
6216,ZCTA5 20001,109318.0,46716.0,31.4,60678.0,6468.0,1597.0,20001,13.845363,3.418529,"38.912068,-77.0190228"
6217,ZCTA5 20002,84892.0,64895.0,33.2,52141.0,9269.0,2351.0,20002,14.283073,3.622775,"38.9052763,-76.98158769999999"
6218,ZCTA5 20003,126323.0,31213.0,33.9,66331.0,2888.0,975.0,20003,9.252555,3.123698,"38.8831372,-76.9902276"
6219,ZCTA5 20004,147522.0,1975.0,40.7,109468.0,108.0,69.0,20004,5.468354,3.493671,"38.8951382,-77.0226217"
6220,ZCTA5 20005,94611.0,13222.0,33.7,78166.0,1333.0,275.0,20005,10.081682,2.079867,"38.908229,-77.03053899999999"

In [14]:
#Finding a nearby address
census_df["nearby address"] = ''
for index,row in census_df.iterrows():
    
    origin_latlng = row["Coords"]
    
    nearbysearch_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    params = {
        "location": origin_latlng,  
        "rankby": "distance",
        "type": "restaurant",
        "key": gkey,
    }
    
    response = requests.get(nearbysearch_url, params=params).json()
    
    # extract results
    results = response['results']
    
    census_df.loc[index, 'nearby address'] = results[0]['vicinity']

census_df

,Name,Household Income,Population,Median Age,Per Capita Income,Poverty Count,Unemployment Count,Zipcode,Poverty Rate,Unemployment Rate,Coords,nearby address
6301,ZCTA5 20390,-666666666.0,359.0,21.2,21819.0,0.0,0.0,20390,0.000000,0.000000,"38.880052,-76.9941873","735 8th Street Southeast, Washington"
6299,ZCTA5 20319,-666666666.0,42.0,21.7,19436.0,0.0,0.0,20319,0.000000,0.000000,"38.8669531,-77.01758319999999","311 Ohio Drive Southwest, Washington"
6242,ZCTA5 20064,-666666666.0,2207.0,19.9,4099.0,113.0,73.0,20064,5.120072,3.307657,"38.9369141,-77.0003067","Edward J. Pryzbyla University Center, 620, Mic..."
6241,ZCTA5 20057,-666666666.0,3841.0,19.8,3915.0,11.0,79.0,20057,0.286384,2.056756,"38.9079399,-77.0717165","3500 O Street Northwest, Washington"
6239,ZCTA5 20052,-666666666.0,751.0,20.2,4226.0,0.0,24.0,20052,0.000000,3.195739,"38.8993373,-77.0485308","2121 H Street Northwest, Washington"
6300,ZCTA5 20373,-666666666.0,144.0,21.9,23941.0,0.0,0.0,20373,0.000000,0.000000,"38.858595,-77.01182460000001","418 Defense Boulevard, Washington"
6298,ZCTA5 20317,28077.0,406.0,86.0,28115.0,120.0,0.0,20317,29.556650,0.000000,"38.92,-76.99","1209 Brentwood Road Northeast, Washington"
6233,ZCTA5 20020,36075.0,56131.0,33.4,24722.0,18941.0,3466.0,20020,33.744277,6.174841,"38.8628755,-76.97006689999999","Pizza Street, #250, Washington"
6232,ZCTA5 20019,36398.0,62625.0,34.1,23072.0,17222.0,4875.0,20019,27.500200,7.784431,"38.8910932,-76.94702199999999","3932 Clay Place Northeast, Washington"
6235,ZCTA5 20032,37711.0,42930.0,29.9,21379.0,12441.0,3729.0,20032,28.979734,8.686233,"38.8372336,-77.01614359999999","McChord Street, Washington"
6221,ZCTA5 20006,46319.0,2756.0,19.7,15576.0,275.0,109.0,20006,9.978229,3.955007,"38.897244,-77.0413344","1776 G Street Northwest, Washington"
6231,ZCTA5 20018,64530.0,19943.0,39.7,39456.0,3009.0,971.0,20018,15.088001,4.868876,"38.9274061,-76.9729472","2117 Rhode Island Avenue Northeast, Washington"
6226,ZCTA5 20011,71569.0,68695.0,36.8,40318.0,8787.0,2713.0,20011,12.791324,3.949341,"38.9502497,-77.01614359999999","5420 3rd Street Northwest, Washington"
6230,ZCTA5 20017,77560.0,20450.0,37.0,41775.0,2810.0,878.0,20017,13.740831,4.293399,"38.9396261,-76.9902276","3928 12th Street Northeast, Washington"
6234,ZCTA5 20024,83145.0,13354.0,36.2,60904.0,2216.0,618.0,20024,16.594279,4.627827,"38.8761083,-77.0190228","1101 4th Street Southwest #170, Washington"
6217,ZCTA5 20002,84892.0,64895.0,33.2,52141.0,9269.0,2351.0,20002,14.283073,3.622775,"38.9052763,-76.98158769999999","1101 Bladensburg Road Northeast, Washington"
6225,ZCTA5 20010,88463.0,34713.0,32.3,49681.0,4613.0,1375.0,20010,13.288970,3.961052,"38.9339046,-77.03053899999999","3475 14th Street Northwest, Washington"
6236,ZCTA5 20036,88553.0,5798.0,33.4,78770.0,826.0,87.0,20036,14.246292,1.500517,"38.9080786,-77.04061469999999","1739 N Street Northwest, Washington"
6237,ZCTA5 20037,89475.0,14559.0,27.0,59917.0,2247.0,319.0,20037,15.433752,2.191085,"38.9042365,-77.0521289","2423 Pennsylvania Avenue Northwest, Washington"
6227,ZCTA5 20012,91667.0,16351.0,40.9,50954.0,1267.0,627.0,20012,7.748762,3.834628,"38.9836326,-77.03917539999999","7849 Eastern Avenue Northwest #4829, Silver Sp..."
6220,ZCTA5 20005,94611.0,13222.0,33.7,78166.0,1333.0,275.0,20005,10.081682,2.079867,"38.908229,-77.03053899999999",Washington
6224,ZCTA5 20009,107128.0,52117.0,33.6,77556.0,6004.0,1593.0,20009,11.520233,3.056584,"38.9191485,-77.0362967","1511 U Street Northwest, Washington"
6216,ZCTA5 20001,109318.0,46716.0,31.4,60678.0,6468.0,1597.0,20001,13.845363,3.418529,"38.912068,-77.0190228","1701 6th Street Northwest, Washington"
6223,ZCTA5 20008,117195.0,29457.0,38.3,99315.0,1804.0,625.0,20008,6.124181,2.121737,"38.9451658,-77.0622028","4401 Connecticut Avenue Northwest Suite A, Was..."
6218,ZCTA5 20003,126323.0,31213.0,33.9,66331.0,2888.0,975.0,20003,9.252555,3.123698,"38.8831372,-76.9902276","1123 Pennsylvania Avenue Southeast, Washington"
6222,ZCTA5 20007,130920.0,27562.0,34.6,88413.0,3134.0,746.0,20007,11.370728,2.706625,"38.9156487,-77.0737149","4101 Reservoir Road Northwest, Washington"
6219,ZCTA5 20004,147522.0,1975.0,40.7,109468.0,108.0,69.0,20004,5.468354,3.493671,"38.8951382,-77.0226217","717 D Street Northwest 6th fl, Washington"
6229,ZCTA5 20016,150997.0,34783.0,37.7,91274.0,2897.0,813.0,20016,8.328781,2.337349,"38.9374808,-77.0852258","3501 Nebraska Avenue Northwest, Washington"
6228,ZCTA5 20015,158443.0,16395.0,43.8,86662.0,694.0,386.0,20015,4.232998,2.354376,"38.9656971,-77.0622028","6200 Oregon Ave Knollwood 0443, Washington"

In [ ]:
nearbysearch_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {
    "location": origin_latlng,  
    "rankby": "distance",
    "type": "restaurant",
    "key": gkey,
}