In [14]:
import pandas as pd
import matplotlib.pyplot as plt
# Dependencies
import requests
import json

# Google developer API key
from config import gkey

In [32]:
# Reading in each months worth of traffic violations
traffic = pd.read_csv(f"Traffic_Monthly_Data/Moving_Violations_Issued_in_February_2019.csv")
traffic2 = pd.read_csv("Traffic_Monthly_Data/Moving_Violations_Issued_in_March_2019.csv", low_memory=False)
traffic3 = pd.read_csv("Traffic_Monthly_Data/Moving_Violations_Issued_in_August_2019.csv", low_memory=False)
traffic4 = pd.read_csv("Traffic_Monthly_Data/Moving_Violations_Issued_in_September_2019.csv", low_memory=False)
traffic5 = pd.read_csv("Traffic_Monthly_Data/Moving_Violations_Issued_in_July_2019.csv", low_memory=False)
traffic6 = pd.read_csv("Traffic_Monthly_Data/Moving_Violations_Issued_in_June_2019.csv", low_memory=False)
traffic7 = pd.read_csv("Traffic_Monthly_Data/Moving_Violations_Issued_in_November_2019.csv", low_memory=False)
traffic8 = pd.read_csv("Traffic_Monthly_Data/Moving_Violations_Issued_in_October_2019.csv", low_memory=False)
traffic8 = pd.read_csv("Traffic_Monthly_Data/Moving_Violations_Issued_in_May_2019.csv", low_memory=False)
traffic9 = pd.read_csv("Traffic_Monthly_Data/Moving_Violations_Issued_in_September_2019.csv", low_memory=False)

In [33]:
#Turning each traffic csv into a dataframe
traffic_df = pd.DataFrame(traffic)
traffic2_df = pd.DataFrame(traffic2)
traffic3_df = pd.DataFrame(traffic3)
traffic4_df = pd.DataFrame(traffic4)
traffic5_df = pd.DataFrame(traffic5)
traffic6_df = pd.DataFrame(traffic6)
traffic7_df = pd.DataFrame(traffic7)
traffic7_df = pd.DataFrame(traffic7)
traffic8_df = pd.DataFrame(traffic8)
traffic9_df = pd.DataFrame(traffic9)

traffic_df = pd.concat([traffic_df, traffic2_df], sort = True)
traffic_df = pd.concat([traffic_df, traffic3_df], sort = True)
traffic_df = pd.concat([traffic_df, traffic4_df], sort = True)
traffic_df = pd.concat([traffic_df, traffic5_df], sort = True)
traffic_df = pd.concat([traffic_df, traffic6_df], sort = True)
traffic_df = pd.concat([traffic_df, traffic7_df], sort = True)
traffic_df = pd.concat([traffic_df, traffic8_df], sort = True)
traffic_df = pd.concat([traffic_df, traffic9_df], sort = True)
traffic_cams = traffic_df[traffic_df['LOCATION'].str.contains("s/b") | traffic_df['LOCATION'].str.contains("n/b") |
                         traffic_df['LOCATION'].str.contains("sw/b") |traffic_df['LOCATION'].str.contains("nw/b") |
                         traffic_df['LOCATION'].str.contains("e/b") |traffic_df['LOCATION'].str.contains("w/b") |
                         traffic_df['LOCATION'].str.contains("se/b") |traffic_df['LOCATION'].str.contains("sw/b") |
                          traffic_df['LOCATION'].str.contains("S/B") ]

traffic_cams

,ACCIDENT_INDICATOR,BODY_STYLE,DISPOSITION_CODE,DISPOSITION_DATE,DISPOSITION_TYPE,FINE_AMOUNT,GIS_LAST_MOD_DTTM,ISSUE_DATE,ISSUE_TIME,ISSUING_AGENCY_CODE,...,PENALTY_5,PLATE_STATE,RP_MULT_OWNER_NO,TICKET_NUMBER,TOTAL_PAID,VIOLATION_CODE,VIOLATION_PROCESS_DESC,VIOLATION_TYPE_DESC,XCOORD,YCOORD
6,Y,SU,NaN,NaN,Other,50.0,2019/05/29 00:47:22+00,2019/02/22 00:00:00+00,07:30:00,1.0,...,NaN,DC,NaN,260611702,50,T008,COLLIDING WITH FIXED OBJECT W/NO DAMAGE OR INJURY,NaN,NaN,NaN
311,N,4D,NaN,NaN,Other,50.0,2019/05/29 00:47:22+00,2019/02/08 00:00:00+00,02:01:00,22.0,...,NaN,MD,NaN,278218710,50,T118,SPEED UP TO TEN MPH OVER THE SPEED LIMIT,NaN,NaN,NaN
757,Y,4D,NaN,NaN,Other,50.0,2019/05/29 00:47:22+00,2019/02/22 00:00:00+00,07:15:00,2.0,...,NaN,DC,NaN,282443921,0,T008,COLLIDING WITH FIXED OBJECT W/NO DAMAGE OR INJURY,NaN,394499.810,141636.950
758,N,SU,NaN,NaN,Other,100.0,2019/05/29 00:47:22+00,2019/02/22 00:00:00+00,12:20:00,2.0,...,NaN,DC,NaN,282443932,100,T082,ONE WAY STREET VIOLATION,NaN,393944.880,141836.860
759,N,VN,NaN,NaN,Other,150.0,2019/05/29 00:47:22+00,2019/02/28 00:00:00+00,11:40:00,2.0,...,NaN,MD,NaN,282443976,150,T113,FAIL TO STOP PER REGULATIONS FACING RED SIGNAL,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102872,NaN,4S,NaN,NaN,Other,200.0,2019/12/06 10:41:39+00,2019/09/29 00:00:00+00,NaN,25.0,...,NaN,,NaN,F107477351,200,T121,SPEED 21-25 MPH OVER THE SPEED LIMIT,I,405359.256,135772.202
102873,NaN,4S,NaN,NaN,Other,100.0,2019/12/06 10:41:39+00,2019/09/29 00:00:00+00,NaN,25.0,...,NaN,,NaN,F107477369,0,T119,SPEED 11-15 MPH OVER THE SPEED LIMIT,I,405359.256,135772.202
102874,NaN,NaN,NaN,NaN,Other,100.0,2019/12/06 10:41:39+00,2019/09/29 00:00:00+00,NaN,25.0,...,NaN,,NaN,F107477385,0,T119,SPEED 11-15 MPH OVER THE SPEED LIMIT,I,405359.256,135772.202
102875,NaN,TK,NaN,NaN,Other,100.0,2019/12/06 10:41:39+00,2019/09/30 00:00:00+00,NaN,25.0,...,NaN,,NaN,F107477440,0,T119,SPEED 11-15 MPH OVER THE SPEED LIMIT,I,405359.256,135772.202
102876,NaN,TK,NaN,NaN,Other,100.0,2019/12/06 10:41:39+00,2019/09/30 00:00:00+00,NaN,25.0,...,NaN,,NaN,F107477732,100,T119,SPEED 11-15 MPH OVER THE SPEED LIMIT,I,405359.256,135772.202

In [28]:
traffic_cams.columns

Index(['ACCIDENT_INDICATOR', 'BODY_STYLE', 'DISPOSITION_CODE',
       'DISPOSITION_DATE', 'DISPOSITION_TYPE', 'FINE_AMOUNT',
       'GIS_LAST_MOD_DTTM', 'ISSUE_DATE', 'ISSUE_TIME', 'ISSUING_AGENCY_CODE',
       'ISSUING_AGENCY_NAME', 'ISSUING_AGENCY_SHORT', 'LATITUDE', 'LOCATION',
       'LONGITUDE', 'MAR_ID', 'OBJECTID', 'PENALTY_1', 'PENALTY_2',
       'PENALTY_3', 'PENALTY_4', 'PENALTY_5', 'PLATE_STATE',
       'RP_MULT_OWNER_NO', 'TICKET_NUMBER', 'TOTAL_PAID', 'VIOLATION_CODE',
       'VIOLATION_PROCESS_DESC', 'VIOLATION_TYPE_DESC', 'XCOORD', 'YCOORD'],
      dtype='object')

In [13]:
test

,OBJECTID,TICKET_NUMBER,ISSUE_DATE,ISSUE_TIME,ISSUING_AGENCY_CODE,ISSUING_AGENCY_NAME,ISSUING_AGENCY_SHORT,VIOLATION_CODE,PLATE_STATE,DISPOSITION_CODE,...,XCOORD,YCOORD,LATITUDE,LONGITUDE,MAR_ID,GIS_LAST_MOD_DTTM,VIOLATION_PROCESS_DESC,ACCIDENT_INDICATOR,RP_MULT_OWNER_NO,BODY_STYLE
LOCATION,,,,,,,,,,,,,,,,,,,,,
100 blk Michigan Ave NW e/b,2407,2407,2407,2407,2407,2407,2407,2407,2407,391,...,2407,2407,2407,2407,2407,2407,2407,0,100,1535
1000 blk Florida Ave NE nw/b,35,35,35,35,35,35,35,35,35,12,...,35,35,35,35,35,35,35,0,1,22
10th St n/b @ Girard St NE,74,74,74,74,74,74,74,74,74,31,...,74,74,74,74,74,74,74,0,9,39
1100 blk Bladensburg Rd NE ne/b,737,737,737,737,737,737,737,737,737,121,...,737,737,737,737,737,737,737,0,26,549
1100 blk Michigan Ave NE w/b,151,151,151,151,151,151,151,151,151,3,...,151,151,151,151,151,151,151,0,5,123
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
S Dakota Ave se/b @ Bladensburg Rd,167,167,167,167,167,167,167,167,167,37,...,0,0,0,0,0,167,167,0,1,117
S Dakota se/b @ Bladensburg Rd NE,59,59,59,59,59,59,59,59,59,14,...,59,59,59,59,59,59,59,0,2,44
Suitland Pk w/b @ Stanton Rd SE,737,737,737,737,737,737,737,737,737,121,...,737,737,737,737,737,737,737,0,10,629
Suitland Pkwy w/b @ Stanton Rd SE,10,10,10,10,10,10,10,10,10,3,...,10,10,10,10,10,10,10,0,0,6
Wisconsin Ave n/b @ Brandywine NW,139,139,139,139,139,139,139,139,139,23,...,139,139,139,139,139,139,139,0,1,111

In [ ]:
for index,row in traffic_cams.iterrows():
    location = row["LOCATION"]
    geocode_url = 'https://maps.googleapis.com/maps/api/geocode/json'

    params = {
        'address': location,
        'key': gkey
    }
    response = requests.get(geocode_url, params=params)
    response = response.json()
    zipcode = response["results"][0]["geometry"]["location"]["lat"]